HealthInsurancePrediction_Ravi.json
[{"id":"36f10ca3.b6b474","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"f79e5168.2e3e7","type":"debug","z":"36f10ca3.b6b474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"466c3f89.d90f7","type":"function","z":"36f10ca3.b6b474","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nvar apikey=\"rGXdZ1P6bX0n7rdi1RSeG76PQISlE32RgyftH29OBY0z\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["a481602b.422ae"]]},{"id":"a481602b.422ae","type":"http request","z":"36f10ca3.b6b474","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["e8d99614.809838","46fec616.052da8"]]},{"id":"e8d99614.809838","type":"debug","z":"36f10ca3.b6b474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"46fec616.052da8","type":"function","z":"36f10ca3.b6b474","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar sm = global.get(\"sm\")\nvar re = global.get(\"re\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Children\", \"Smoker\", \"Region\"]],\"values\": [[rd,ms,ad,st,sm,re]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":220,"wires":[["470ff1d3.0addb"]]},{"id":"470ff1d3.0addb","type":"http request","z":"36f10ca3.b6b474","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/9068de5c-e149-4490-9098-97a131165a98/predictions?version=2020-10-19","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["3529226a.7b015e","940edd03.97705"]]},{"id":"3529226a.7b015e","type":"debug","z":"36f10ca3.b6b474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"76d7840a.6c05cc","type":"inject","z":"36f10ca3.b6b474","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["466c3f89.d90f7"]]},{"id":"634cec42.018a94","type":"debug","z":"36f10ca3.b6b474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"940edd03.97705","type":"function","z":"36f10ca3.b6b474","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["634cec42.018a94","a7ec74a1.b49048"]]},{"id":"a7ec74a1.b49048","type":"ui_text","z":"36f10ca3.b6b474","group":"f40d459e.1b96a8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"757d9271.119bcc","type":"ui_form","z":"36f10ca3.b6b474","name":"","label":"","group":"f40d459e.1b96a8","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"rd","type":"number","required":true,"rows":null},{"label":"Sex","value":"ms","type":"text","required":true,"rows":null},{"label":"BMI","value":"ad","type":"number","required":true,"rows":null},{"label":"Children","value":"st","type":"text","required":true,"rows":null},{"label":"Smoker(Yes/No)","value":"sm","type":"text","required":true,"rows":null},{"label":"Region(NE/NW/SE/SW)","value":"re","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","sm":"","re":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["f79e5168.2e3e7","466c3f89.d90f7"]]},{"id":"f40d459e.1b96a8","type":"ui_group","z":"","name":"Default","tab":"ab13f749.0da4e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab13f749.0da4e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]